*.class
drivers/wiringpi/gpio/.classpath
drivers/wiringpi/gpio/.project
drivers/wiringpi/jni/.vscode
main/.settings
main/.classpath
main/.project
drivers/serial/java/.project
drivers/serial/java/.classpath
